<template>
  <section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-desktop">
          <div class="column is-one-quarter"/>
          <div class="column is-two-quarters">
            <h1 class="title is-uppercase">Iconomize.it</h1>
            <h2 class="subtitle">You might not need an icon</h2>
            <div class="icon-search">
              <input
                v-model="iconSearch"
                class="input is-large"
                type="text"
                placeholder="filter icons">
            </div>
            <ul>
              <li
                v-for="icon in filteredIcons"
                :key="icon.id">
                {{ icon.unicode }} - {{ icon.searchTerm }}
              </li>
            </ul>
          </div>
          <div class="column is-one-quarter"/>
        </div>
      </div>
    </div>
  </section>

</template>

<script>
	import fetch from 'node-fetch';

	export default {
		data: function () {
			return {
				db: [],
                iconSearch: ''
			};
		},
		computed: {
			filteredIcons: function () {
				return this.db.filter((icon) => {
						return icon.searchTerm.match(this.iconSearch)
					}
				)
			}
		},
		created: function () {
			fetch('icons.json')
				.then(r => r.json())
				.then(json => {
					this.db = json
				})
		}
	}
</script>
